body {
    margin: 0;
    font-family: "Open-Sans", sans-serif;
    color: white;
    
    background-image: url(/projeto-02/src/jpg/scott-webb-Vn39uEkX00s-unsplash.jpg);
    min-height: auto;
    background-size: 210vh;
    align-content: center;
    background-repeat: no-repeat;

}

.page {
    width: 1000px;
    margin: 65px auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 55px;
    font-family: "Mulish", sans-serif;
}

nav img {
    width: 68px;
}

ul {
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;

}
ul li a{
    color: rgb(255, 255, 255);
}

ul li a:hover{
    color: rgb(255, 94, 0);
    font-weight: 700;
}

h1, ul{
    
    font-family: "Mulish", sans-serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


h1{
    font-size: 48px;
    line-height: 56px;
    font-weight: normal;
}

h1 span{
    font-weight: bold;
    color: rgb(255, 94, 0);
}

section p{
    margin: 40px 0; 
}

p{
    font-size: 18px;
    line-height: 28px;
    color: rgb(255, 255, 255);
}

button{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgb(54, 163, 50);
    padding: 14px 32px 15px;
    border-radius: 4px;

    position: absolute;
    width: 182px;
    height: 56px;

    gap: 10px;

    font-weight: 600;
    color: white;
    text-transform: uppercase;
    font-family: "Mulish", sans-serif;

    cursor: pointer;
}

button:hover{
    background-color: rgb(54, 141, 51) ;
}

button img{
    width: 32px;
}


footer{
    font-size: 14px;
    line-height: 28px;

    text-align:center;

    margin-top: 180px;
}

footer a{
    font-weight: bold;
    color: rgb(255, 94, 0);
}